---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import SectionHeader from "../components/SectionHeader.svelte";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title="LUV NFT"
            description="Personal website for LUV NFT, a software developer focused on new tech and self-improvement"
        />
    </head>
    <body>
        <Header client:load />
        <SectionHeader
            title={"About Us"}
            subtitle={"Our Story"}
        />
        <div class="flex flex-col lg:mx-20 2xl:mx-60">
            <div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
                <div class="md:mx-3 md:w-1/2">
                    <h2
                        class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
                    >
                        Hahz & Candy
                    </h2>
                    <p class="lg:text-xl">
                        Hahz & Candy are the married Twin Flame creators of the blockchain non-profit
                        <a href="https://BLKLUV.org">BLKLUV.org</a>, which developed Web5. It all began
                        in 2020 during the pandemic when the couple lost three six-figure businesses due
                        to lockdown: a startup selfie museum, an event company, and an e-commerce company.
                        This experience seemed like the universe clearing their path for a higher purpose.
                        Hahz, also known as The Wizard of Hahz, joked with Candy, aka Dr. Candy, about 
                        launching a blockchain non-profit to create a pandemic relief solution in four months
                        before teaching himself blockchain code. Fast forward three years later, Hahz is one of 
                        the most sought-after NFT thought leaders, while Candy holds a Ph.D. in Metaphysics
                        and is the only female CEO in blockchain. Together, the couple manifested ten 
                        million in capital to build a solution that unites the world with love <span
                        class="text-indigo-300 underline underline-offset-2 hover:text-indigo-600"
                        ><a href="/blog/programming/humble-beginnings">($LUV)</a
                            ></span.
                        Hahz & Candy are sharing their story on the <a href="https://luvgames.luvnft.com">LUV Games</a>
                        PPV network and tokenizing documented proof of their love story as an LUV NFT, while also
                        teaching subscribers how to create spiritual currency. Spread $LUV the Brooklyn way.
                    </p>
                </div>
                <div class="flex justify-center md:w-1/2">
                    <img
                        src="/hahz-candy-terry-luvnft-ceo.jpg"
                        alt="Hahz & Candy Terry - LUV NFT CEOS"
                        class="aspect-video object-cover md:h-[28rem] rounded-md"
                        style="object-position: center top;"  
                    />
                </div>
            </div>
            <div
                class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row-reverse"
            >
                <div class="md:mx-3 md:w-1/2">
                    <h4
                        class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
                    >
                        Haneef Haqq, MBA | Global Blockchain Engagement Lead
                    </h4>
                    <p class="lg:text-xl">
                        Haneef has over 14 years of relevant public and private sector
                        financial services industry experience comprised of: risk management
                        consulting (Big Four servicing global systemically important banks
                        (G-SIBs)), supervisory agency (commissioned safety and soundness
                        examiner, and capital market subject-matter expert at the FDIC), and
                        commercial and consumer lending experience (early career experience
                        managing a loan production office prior to and during the financial crisis).
                        Regulatory risk and remediation of hot topics on the regulatory agenda;
                        CCAR/DFAST and regulatory reporting; credit risk management, including
                        commercial, CRE, and retail; enterprise risk management, including risk
                        appetite, risk identification, new products and initiatives, third party
                        risk, model risk, market risk, liquidity, and treasury risk, and operational
                        risk. 
                        Haneef Haqq, MBA <a href="https://www.linkedin.com/in/haneef-r-haqq-mba-85a73512/">Linkedin</a> 
                    </p>
                </div>
                <div class="flex justify-center md:w-1/2">
                    <img
                        src="/haneef-haqq-luv-nft.jpg"
                        alt="Haneef Haqq MBA - LUV NFT Blockchain Finance Investment Lead"
                        class="aspect-video object-cover md:h-[32rem] rounded-md"
                        style="object-position: center top;"  
                    />
                </div>
            </div>
            <div class="mx-10 my-5 flex flex-col justify-between md:m-4 md:flex-row">
                <div class="md:mx-3 md:w-1/2">
                    <h2
                        class="text-xl font-semibold text-indigo-300 md:text-2xl xl:text-3xl"
                    >
                        The Present is the Future
                    </h2>
                    <p class="lg:text-xl">
                        We're airdropping a trillion $LUV tokens, then promoting creators, businesses,
                        and brands that accept $LUV on Web5. We're partnering with cities, states,
                        countries, corporations, and landlords eager to unite the world with One $LUV
                        (Bob Marley accent). Any city aiming to prevent looting will be rewarded,
                        encouraging citizens to do good in exchange for $LUV.

                        If you aspire to become a superhero and save the world, this is your chance to
                        shine, go viral for your love for humanity, and we will invest in your purpose
                        to serve others. Go viral tagging #OneLUV @luvnft with your Polygon wallet addy
                        in the bio or comments and we will airdrop $LUV into your account. Then we will 
                        post your video as a Web5 Super Hero post on @luvnft, tokenized as
                        an LUV NFT, we will market and auction it for you, and the Super Hero earns 100%
                        of the proceeds. Witness the reVULution on one channel, One $LUV.
                    </p>
                </div>
                <div class="flex justify-center md:w-1/2">
                    <img
                        src="/web5-luvnft.webp"
                        alt=""
                        class="aspect-video object-cover md:h-[32rem] rounded-md"
                    />
                </div>
            </div>
        </div>

        <Footer />
    </body>
</html>
