---
import SectionHeader from "./SectionHeader.svelte";
---

<main>
	<!-- <SectionHeader
		title={"About"}
		subtitle={"My lifes story packed into 2 sentences."}
	/> -->
	<div class="mx-5 my-2 flex flex-col items-center justify-around md:flex-row">
		<div class="my-3 md:w-2/3">
			<h1 class="text-2xl font-bold md:text-3xl">Time is $LUV</h1>
			<p class="md:text-lg lg:text-xl 2xl:text-2xl">
				LUV NFT created Web5 to usher in the Purpose economy that barters <span class="font-semibold text-indigo-600"></span>$LUV</span> to identify humans 
				with a <span class="font-semibold text-indigo-600">heart</span>. 
				Be of service to others, or promote Web5 in exchange for $LUV money, exchangeable for rent,
				services, or products. $LUV addresses five major societal challenges: the housing crisis, 
				inflation, hunger, unity & AI replacing 90% of our current workforce. $LUV is the sole method
				to distinguish a human with a heart from artificial intelligence. Subscribe to a <a href="https://nftv.luvnft.com"><strong><span class="font-semibold text-indigo-600">NFTV<</span></strong>/a> 
				network to support heroes, creators and businesses accepting $LUV. One $LUV on <a href="https://polygonscan.com/address/0x44d062b25c1dCC46b3456cc9D0C8804aa90Dc8D4">Polygon </a>  blockchain
				isn't for sale, and its value is equivalent to one hour of your state's minimum wage.
				LUV Hahz & Candy 
				<p class="quote md:text-md text-sm xl:text-lg">
					Read our <span
						class="text-indigo-600 underline hover:text-indigo-500"
					>
						<a href="/about">backstory</a>
					</span>
				</p>
			</p>
		</div>
		<div
			class="m-2 rounded-full md:m-5 md:w-1/3 w-2/3 flex justify-center items-center"
		>
			<img
				src="professional-pic.webp"
				alt="LUV NFT Purpose"
				class="rounded-full aspect-square object-cover ring-4 ring-indigo-500  shadow-indigo-600/60 shadow-lg lg:w-4/5"
			/>
		</div>
	</div>
</main>
